<section class="Form my-4 mx-6" id="full">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000" class="img-fluid">
      </div>


      <div class="col-md-6" id="right">
        <h1 class="font-weight-bold">MediSearch</h1>
        <h3>Manage Profile</h3>
        <br>

      <form >
        <div class="form-row">
          <div class="col-lg-7">
            <input type="text" placeholder="Name" class="form-control my-3 p-4">
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-7">
            <input type="text" placeholder="Phone Number" class="form-control my-3 p-4">
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-7">
            <input type="text" placeholder="Email" class="form-control my-3 p-4">
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-7">
            <input type="password" placeholder="Password" class="form-control my-3 p-4">
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-7">
            <input type="text" placeholder="License Number" class="form-control my-3 p-4">
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg-7">
            <button type="button" class="btnsave mt-3 mb-5">Save</button>
          </div>
        </div>

      </form>

</div>
    </div>
  </div>
</section>
