<h3 class="m-4 fw-bold" [routerLink]="['/']" role="button">Duothan 3.0 IEEE</h3>

<div class="container mx-auto text-center">
  <h3 class="fw-bold">Hello Pharmacist</h3>

  <p class="fw-semibold" *ngIf="!loginPage">
    Create an account or <a [routerLink]="['/login']">login</a> to the system<br />
  </p>
  <p class="fw-semibold" *ngIf="loginPage">
    Login or <a [routerLink]="['/register']">create an account</a> to the system
  </p>
  <form
    action=""
    class="container p-5 border border-1 rounded"
    style="max-width: 450px; background-color: #f9f9f9"
    #authForm="ngForm"
    (submit)="onSubmit(authForm)"
  >
    <div class="alert alert-danger py-2" role="alert" *ngIf="showError">
      {{ errorMessage }}
    </div>
    <div
      *ngIf="isLoading"
      class="spinner-border mb-4"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <h5>Pharmacy</h5>
    <div class="input-group mb-3" *ngIf="!loginPage">
      <span class="input-group-text" id="name">Pharmacy Name</span>
      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        ngModel
        required
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="email">Email</span>
      <input
        id="email"
        type="email"
        name="email"
        ngModel
        nic
        required
      />
    </div>

    <div class="input-group mb-3" *ngIf="!loginPage">
      <span class="input-group-text" id="phone_number">Phone Number</span>
      <input
        id="phone_number"
        type="phone_number"
        name="phone_number"
        ngModel
        class="form-control"
        aria-label="Username"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="email">Email</span>
      <input
        id="email"
        type="email"
        name="email"
        ngModel
        class="form-control"

        aria-label="Username"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>

    <div class="input-group mb-3" *ngIf="!loginPage">
      <span class="input-group-text" id="website">Website</span>
      <input
        id="website"
        type="website"
        name="website"
        ngModel
        class="form-control"
        aria-label="website"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="password">Operating Hours</span>
      <input
        id="hours"
        type="hours"
        name="hours"
        ngModel
        class="form-control"
        aria-label="hours"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="license">License Number</span>
      <input
        id="license"
        type="license"
        name="license"
        ngModel
        class="form-control"
        aria-label="Username"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>


    <br><br>
    <h5>Owner</h5>

    <div class="input-group mb-3" *ngIf="!loginPage">
      <span class="input-group-text" id="name">Name</span>
      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        ngModel
        required
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="address">Address</span>
      <input
        id="address"
        type="address"
        class="form-control"
        name="address"
        ngModel
        nic
        required
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="password">Password</span>
      <input
        id="password"
        type="password"
        name="password"
        ngModel
        class="form-control"
        aria-label="Username"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>
    <div class="input-group mb-3" *ngIf="!loginPage">
      <span class="input-group-text" id="address">Address</span>
      <input
        id="address"
        type="address"
        class="form-control"
        name="address"
        ngModel
        nic
        required
      />
    </div>

    <div class="input-group mb-3" *ngIf="!loginPage">
      <span class="input-group-text" id="nic">NIC</span>
      <input
        id="nic"
        type="nic"
        name="nic"
        ngModel
        class="form-control"
        aria-label="nic"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>

    <br><br>

    <div class="input-group mb-3" *ngIf="!loginPage">
      <span class="input-group-text" id="password">Password</span>
      <span class="input-group-text" id="phone_number">Contact Number</span>

      <input
        id="phone_number"
        type="number"
        name="contactNo"
        ngModel
        class="form-control"
        aria-label="password"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>

    <div class="input-group mb-3" *ngIf="!loginPage">

      <span class="input-group-text" id="confirmpassword">Confirm Password</span>
      <input
        id="confirmpassword"
        type="confirmpassword"
        name="confirmpassword"

      <span class="input-group-text" id="license">License Number</span>
      <input
        id="license"
        type="license"
        name="licenseNo"

        ngModel
        class="form-control"
        aria-label="confirmpassword"
        aria-describedby="basic-addon1"
        required
        minlength="6"
      />
    </div>



    <button
      class="btn btn-primary btn-default text-white"
      [disabled]="isLoading"
    >
      Submit
    </button>
  </form>
</div>

<!-- <div
  class="container"
  style="background-color: #041221; max-width: none; margin-top: -1%"
>
  <div id="flow">
    <span class="flow-1"></span>
    <span class="flow-2"></span>
    <span class="flow-3"></span>
  </div>
  <div class="section">
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered" style="max-width: 1132px">
          <div class="column is-4 is-offset-4">
            <h3 class="title">Login</h3>
            <hr class="login-hr" />

            <div class="box">
              <figure class="avatar">
                <img src="https://placehold.it/128x128" />
              </figure>

              <form (submit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div class="field">
                  <div class="control">
                    <input
                      name="email"
                      ngModel
                      #emailInput="ngModel"
                      class="input is-medium"
                      type="email"
                      placeholder="Your Email"
                      autofocus=""
                      required
                      email
                    />
                    <p
                      class="login-error"
                      *ngIf="!emailInput.valid && emailInput.touched"
                    >
                      Please enter valid email
                    </p>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input
                      name="password"
                      ngModel
                      #passwordInput="ngModel"
                      class="input is-medium"
                      type="password"
                      placeholder="Your Password"
                      required
                    />
                    <p
                      class="login-error"
                      *ngIf="!passwordInput.valid && passwordInput.touched"
                    >
                      Please enter valid password
                    </p>
                  </div>
                </div>
                <div class="field">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Remember me
                  </label>
                </div>
                <button
                  class="button is-block is-primary is-medium is-fullwidth"
                  type="submit"
                >
                  Login <i class="fas fas-sign-in" aria-hidden="true"></i>
                </button>
              </form>
            </div>
            <p class="has-text-grey" style="color: #00d1b2">
              <a style="color: #00d1b2" routerLink="/signup">Sign Up</a>
              &nbsp;·&nbsp;
              <a style="color: #00d1b2" routerLink="/">Forgot Password</a>
              &nbsp;·&nbsp;
              <a style="color: #00d1b2" href="../">Need Help?</a>
            </p>
            <br /><br /><br />
            <!-- <p class="subtitle ">Please login to proceed.</p> -->
<!--<a class="level-item logo-margin">
              <img
                src="https://i.ibb.co/L9X6wKM/pharmacare-logo-hori-tagline-2.png"
                width="152"
                height="140"
              />
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> -->
