<div class="profile-card-4 text-center">
  <img [src]="" class="img img-responsive" />
  <div class="profile-content">
    <div class="item-name">{{ phamarcy.name}}</div>
    <div class="item-description">Description:{{ phamarcy.email }}</div>
    <div class="item-name">{{ phamarcy.address}}</div>
    <div class="item-description">Description:{{ phamarcy.phone }}</div>
    <div class="item-name">{{ phamarcy.website}}</div>
    <div class="item-description">Description:{{ phamarcy.License}}</div>
    <div class="item-description">Description:{{ phamarcy.OpeningHours}}</div>
    <p>Quantity: 2</p>
    <div class="row">
      <div class="col-xs-4">
        <div class="addcart">
          <p class="item_price">{{ phamarcy.website }}</p>
          <br />
          <button class="button-hover-addcart button">
            <span>Delete &nbsp;</span><i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

