

          <div class="profile-card-4 text-center"><img [src]="" class="img img-responsive">
            <div class="profile-content">

                <div class="item-name">Name</div>
                <div class="item-description">Description</div>
                <div class="row">
                    <div class="col-xs-4" style="position: absolute;bottom: 0px;">
                      <div class="addcart">
                        <p class="item_price">$125</p><br>
                        <button  class="button-hover-addcart button" ><span>Add to Cart &nbsp;</span><i class="fa fa-shopping-cart"></i></button>
                      </div>
                    </div>
                </div>
            </div>
          </div>


