<div class="profile-card-4 text-center">
  <img [src]="" class="img img-responsive" />
  <div class="profile-content">
    <div class="item-name">{{ medicine.name }}</div>
    <div class="item-description">Description:{{ medicine.description }}</div>
    <p>Quantity: 2</p>
    <div class="row">
      <div class="col-xs-4">
        <div class="addcart">
          <p class="item_price">{{ medicine.price }}</p>
          <br />
          <button class="button-hover-addcart button">
            <span>Add to Cart &nbsp;</span><i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
