<div class="profile-card-4 text-center">
  <img [src]="" class="img img-responsive" />
  <div class="profile-content">
    <div class="item-name">{{ medicine.name }}</div>
    <div>Manufacturer</div>
    <div>Supplier</div>
    <div>NDC</div>
    <div>Expire Date</div>
    <div class="item-description">Description:{{ medicine.description }}</div>
    <p>Quantity: 2</p>
    <div class="row">
      <div class="col-xs-4">
        <div class="addcart">
          <p class="item_price">{{ medicine.price }}</p>
          <br />
          <div class="d-flex gap-2">
            <button class="button-hover-addcart button" (click)="editClicked()">
              Edit
            </button>
            <button
              class="button-hover-addcart button"
              (click)="deleteClicked()"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
