<nav class="navbar">
  <div class="content">
    <div class="logo">
      <a href="#">HackStreet</a>
    </div>
    <ul class="menu-list">
      <div class="icon cancel-btn">
        <i class="fas fa-times"></i>
      </div>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Inventory</a></li>
      <li><a href="#">Profile Managner</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="icon menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
<div class="banner"></div>
<div class="about">
  <div class="content">
    <div class="title">STATS</div>
  </div>
</div>

<script>
  const body = document.querySelector("body");
  const navbar = document.querySelector(".navbar");
  const menuBtn = document.querySelector(".menu-btn");
  const cancelBtn = document.querySelector(".cancel-btn");
  menuBtn.onclick = ()=>{
    navbar.classList.add("show");
    menuBtn.classList.add("hide");
    body.classList.add("disabled");
  }
  cancelBtn.onclick = ()=>{
    body.classList.remove("disabled");
    navbar.classList.remove("show");
    menuBtn.classList.remove("hide");
  }
  window.onscroll = ()=>{
    this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
  }
</script>




<!-- <header>
<div class="container">
  <div class="row">
      <div class="col-md-4">

          <div class="language">
        <ul>
          <li>
            <a style="color:rgba(250, 250, 250, 0.799);font-size: 14px;text-decoration: none;">Home</a>
             <i class="fa-solid fa-house"></i>
          </li>
          <li> <a href="#listView" style="color:rgba(250, 250, 250, 0.799);font-size: 14px;text-decoration: none;" >Events</a>


          </li>
          <li>
            <a href="#Footer" style="color:rgba(250, 250, 250, 0.799);font-size: 14px;text-decoration: none;" >Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 text-right">
      <div class="menu-social">
          <ul>
              <li>
                  <a href="https://www.facebook.com/">
                      <i class="fa fa-facebook"></i>
                  </a>
              </li>
              <li>
                  <a href="https://www.twitter.com/">
                      <i class="fa fa-twitter"></i>
                  </a>
              </li>
              <li>
                  <a href="https://www.instagram.com/">
                      <i class="fa fa-instagram"></i>
                  </a>
              </li>

          </ul>
      </div>
  </div>

  </div>
</div>
</header>  -->
